html{ 
    background-color: rgb(245, 183, 209);
} 

*{
   *border: solid 1px rgb(159, 37, 118); 
}

main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4rem;
    gap: 2rem;
}

.titulo h1{ 
   color: rgb(255, 255, 255);
    font-family: "Cal Sans", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.nav a{ 
    color: rgb(219, 55, 175);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    display: inline-block;
    margin: 1rem;
    margin: 1rem;
    border-radius: 5px;
    border: solid 1px  rgb(188, 12, 103);
    transition: all 0.3s easeas-in-out;
    margin-block: 0.5rem;
}

li a:hover{
    background-color: rgb(226, 61, 147);
    color: rgb(255, 255, 255);
    transform: scale(1.1) rotate(1deg);
}

.nav ul{ 
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0,5rem;
}